@using DFC.App.MatchSkills.ViewModels
@model DFC.App.MatchSkills.ViewModels.CompositeViewModel

@if (null == Model)
{
    <title>@CompositeViewModel.AppTitle</title>
}
else
{
    <title>@Model.PageTitle</title>
}

<script defer async src="@Model.CompositeSettings.CDN/nationalcareers_toolkit/js/matchskills.min.js"></script>