@model DFC.App.MatchSkills.ViewModels.SkillsBasketCompositeViewModel

<partial name="~/Views/Shared/BodyTop.cshtml" />
<div class="govuk-width-container">
    <govukBackLink id="@Model.GetElementId("govukBackLink","Back")"></govukBackLink>
</div>