<div class="filters-container">
    <div class="filter-label">
        <h2 class="govuk-heading-s govuk-!-margin-0">Filter by category</h2>
    </div>
    <div class="filter-box">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">Choose desired job categories</legend>
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input checked="checked" class="govuk-radios__input" data-val="true" data-val-required="The CourseHours field is required."
                           id="CourseHours_All" name="CourseHours" type="radio" value="All">
                    <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="CourseHours_All">All</label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="CourseHours_Fulltime" name="CourseHours" type="radio" value="Fulltime">
                    <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="CourseHours_Fulltime">Administration</label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="CourseHours_PartTime" name="CourseHours" type="radio" value="PartTime">
                    <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="CourseHours_PartTime">Animal care</label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="CourseHours_Flexible" name="CourseHours" type="radio" value="Flexible">
                    <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="CourseHours_Flexible">Beauty and wellbeing</label>
                </div>

            </div>
        </fieldset>
    </div>
</div>
