@model DFC.App.MatchSkills.Models.CareerMatch

<div class="govuk-!-font-size-14 govuk-clearfix">
    <strong>Job sector growth:</strong> <i class="embedded-fa-icon fa-arrow-up"></i>@Model.JobSectorGrowthDescription
</div>