<span><strong>Sort by:</strong></span>
<ul class="sort-list">
    <li class="sort-list-item"><a href="">Match %</a></li>
    <li class="sort-list-item"><a href="">A - Z</a></li>
    <li class="sort-list-item"><a href="">Job sector growth</a></li>
</ul>