@using DFC.App.MatchSkills.ViewModels
@model DFC.App.MatchSkills.ViewModels.CompositeViewModel

@{
    var cdnLink = $"{@Model.CompositeSettings.CDN}nationalcareers_toolkit/css/dysac.min.css";
}

@if (null == Model)
{
    <title>@CompositeViewModel.AppTitle</title>
}
else
{
    <title>@Model.PageTitle</title>
}
<link href="@cdnLink" rel="stylesheet" type="text/css" />