@using DFC.App.MatchSkills.ViewModels
@model DFC.App.MatchSkills.ViewModels.CompositeViewModel

@if (null == Model)
{
    <title>@CompositeViewModel.AppTitle</title>
}
else
{
    <title>@Model.PageTitle</title>
}
<link href="@Model.CompositeSettings.CDN/nationalcareers_toolkit/css/dysac.min.css" rel="stylesheet" type="text/css" />