@using DFC.App.MatchSkills.ViewComponents.Choice

@{
    var choiceModel = new ChoiceComponentModel
    {
        ButtonText = "Continue",
        LinkText = "TestLink",
        PageId = "Worked",
        Text = "Choose one of the options below",
        FormAction = "body/Worked",
        Title = "Have you worked before?",
        ParentModel = Model,
        RadioButtons = new List<RadioButtonModel>
{
            {new RadioButtonModel {Text = "Yes", Order = 1, Name = "Choice", Value = "Yes"}},
            {new RadioButtonModel {Text = "No", Order = 2, Name = "Choice", Value = "No"}}

        }
    };

}
<div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
        <partial name="~/ViewComponents/Choice/ChoiceComponent.cshtml" model="choiceModel" />
    </div>
</div>
