@using DFC.App.MatchSkills.ViewComponents.Choice
@model DFC.App.MatchSkills.ViewModels.WorkedCompositeViewModel

@{
    var choiceModel = new ChoiceComponentModel
    {
        ButtonText = "Continue",
        LinkText = "TestLink",
        Text = "Choose one of the options below",
        FormAction = $"{Model.Id}",
        ParentModel = Model,
        HasError = Model.HasError,
        ErrorMessage = "Choose whether you have worked before",
        ErrorSummaryMessage = "Choose whether you have worked before",
        RadioButtons = new List<RadioButtonModel>
{
            {new RadioButtonModel {Text = "Yes", Order = 1, Name = "Choice", Value = "Yes"}},
            {new RadioButtonModel {Text = "No", Order = 2, Name = "Choice", Value = "No"}}

        }
    };

}
<div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
        <partial name="~/ViewComponents/Choice/ChoiceComponent.cshtml" model="choiceModel" />
    </div>
</div>
