<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govukHeadingH1 Text="Enter a job title" />
            
            <p>This can be your current job or one that you’ve done before. You can match the skills you used in this job to other careers.</p>
            
            <p>You can add skills from more than one job to your skills list.</p>
            
            <form action="/matchskills/occupationsearchresults" method="get" id="occupation-search">

                <govukHeadingH4 Text="Enter a job title" />

                <govukTextInput Id="inputSearch"></govukTextInput>
                <br>
                <br>
                <!--<govukCheckbox Id="chkAltLabels" Text="Match Alt Labels"></govukCheckbox>-->
                <p>
                    <govukButton Id="btnSearch" text="Search"></govukButton>
                </p>

            </form>
        </div>
    </div>
</main>