@model DFC.App.MatchSkills.ViewModels.OccupationSearchViewModel
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Page-hiding snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y; h.start = 1 * new Date;
            h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
            (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
            { 'GTM-554PPX9': true });
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-554PPX9');
    </script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/govuk-opengraph-image.png">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/govuk-mask-icon.svg" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/images/govuk-apple-touch-icon.png">

    <link href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/css/all.min.css?Q9kDKfjVq31/LWP1bWcVNw==" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="/html5-shiv/html5shiv.js"></script>
    <![endif]-->



    <title>Job Search</title>



    <script type="text/javascript">

        var appInsights=window.appInsights||function(a){
            function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
        }({
            instrumentationKey: '[app insights key]'
        });

        window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();

    </script>
</head>
<body>
    Standalone Version - Test Only
    <partial name="Head" />
    <partial name="Breadcrumb" />
    <partial name="Body" />



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
</script>
<script>(window.jQuery || document.write("\u003Cscript src=\u0022\/lib\/jquery\/jquery.js\u0022 crossorigin=\u0022anonymous\u0022 integrity=\u0022sha256-FgpCb\/KJQlLNfOu91ta32o\/NMZxltwRo8QtmkMRdAu8=\u0022\u003E\u003C\/script\u003E"));</script>




<script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/jquerybundle.min.js?jq/NP1aPZeQDFG2sHhiMEg==" type="text/javascript"></script>
<script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/all.min.js?JLDIilUFf27vaEA/8ozyow==" type="text/javascript"></script>

<script>window.GOVUKFrontend.initAll()</script>

<script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/dfcdigital.min.js?5nBXSnaAMclzTd0sYxs/1Q=="></script>

</body>
