@model DFC.App.MatchSkills.WebUI.ViewModels.HeadViewModel;
@{
    ViewData["Title"] = "Match Skills";
}

<title>@Model.PageTitle</title>
<link href="@Model.DefaultCssLink" rel="stylesheet" type="text/css"/>