@using DFC.App.MatchSkills.ViewComponents.Choice
@model DFC.App.MatchSkills.ViewModels.RouteCompositeViewModel

@{
    var choiceModel = new ChoiceComponentModel
    {
        ButtonText = "Continue",
        LinkText = "TestLink",
        Text = "Choose one of the options below.",
        FormAction = $"body/{Model.Id}",
        ParentModel = Model,
        RadioButtons = new List<RadioButtonModel>
{
    {
        new RadioButtonModel
        {
            Text = "Your current or previous jobs", Order = 1,
            Name = "Choice", Value = "Jobs", HintText = "See careers that might suit your skills. This will take between 3 and 5 minutes."
        }
    },
            {new RadioButtonModel
            {
                Text = "Your interests, motivations and current or previous jobs", Order = 2, Name = "Choice",
                Value = "SkillsAndJobs", HintText = "See careers that might suit your personal traits and skills. This will take between 5 and 10 minutes."
            }}

        }
    };

}
<div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
        <partial name="~/ViewComponents/Choice/ChoiceComponent.cshtml" model="choiceModel" />
    </div>
</div>