@using DFC.App.MatchSkills.ViewModels
@model DFC.App.MatchSkills.ViewModels.CompositeViewModel

<partial name="~/Views/Shared/BodyTop.cshtml" />
<div class="primary-hero">
    <govukPrimaryHeroBanner headerText="@CompositeViewModel.AppTitle"></govukPrimaryHeroBanner>
</div>
