<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group choice-page">
                <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            How do you want to use this service?
                        </h1>
                    </legend>
                    <span id="sign-in-hint" class="govuk-hint">
                        You’ll need to choose an option below.
                    </span>
                    <p class="govuk-body">
                        There are two ways to enter your skills. You can:
                    </p>
                    <ul class="govuk-list">
                        <li>enter your current or previous jobs</li>
                        <li>choose from a list of skill categories</li>
                    </ul>

                    <p>
                        Enter a job title to see the most common skills needed to do the job. You can then choose the skills that you think you have.

                        Use the skills list to browse skill categories and choose which ones you have.

                    </p>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="enter-your-roles" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
                                Enter your job title
                            </label>
                            <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                Enter a job title to see a selection of skills that are normally used in this role.
                            </span>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="enter-skills" aria-describedby="sign-in-2-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
                                Choose your skills
                            </label>
                            <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                                Choose all the skills you have from a list.
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <p>
                <govukButton text="Continue" href="#"></govukButton>
            </p>
        </div>
    </div>
</main>