<div class="govuk-main-wrapper ">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <p>
                    Answer questions about yourself to see the types of work that
                    might suit you.
                </p>
                <p>
                    This can be useful if you're:
                </p>
                <p>
                    - thinking about transferring your skills to a new career<br>
                    - exploring career options for your future<br>
                    - looking to return to work after a break
                </p>
                <govukButtonLink linkText="Start Now" LinkHref="/MatchSkills/EmploymentChoice"></govukButtonLink>
            </div>
        </div>
    </div>

</div>

@*<div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-body-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govukHeadingH1 text="Transfer your skills"></govukHeadingH1>
                <p class="govuk-body">
                    If you’re thinking of taking the next step in your career, it can be useful to know what skills you already have.
                </p>
                <p>
                    This section will help you to:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>understand the skills you already have</li>
                    <li>identify jobs that suit your skills</li>
                    <li>see which skills you can improve to get a specific job</li>
                </ul>
                <p>
                    You can enter your current or previous jobs and see which skills you can transfer to other jobs and industries.
                </p>
                <p>
                    <govukStartButtonLink linkText="Continue" LinkHref="/MatchSkills/EntryChoice"></govukStartButtonLink>
                </p>
            </div>
        </div>
    </div>*@
